<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>connections</key>
	<dict>
		<key>DBDA45EE-A778-4A3D-A63E-90C69D55966C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>329DEB03-BA9C-4D30-9D27-B38F83DC6E47</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>9DBFF92E-8494-44BA-8A01-06DEEC4322B4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>zhangxiaoman</string>
	<key>description</key>
	<string>转换时间戳</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>时间转换</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>100</integer>
				<key>keyword</key>
				<string>ttd</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>wait</string>
				<key>script</key>
				<string>require('workflows.php');
$wf = new Workflows();
$query = "{query}";

$result = date("Y-m-d H:i:s",$query);
$wf-&gt;result(1, $result,"Y-m-d H:i:s",$result,'icon.png','yes');
echo $wf-&gt;toxml();
</string>
				<key>subtext</key>
				<string>输入时间戳</string>
				<key>title</key>
				<string>转换时间</string>
				<key>type</key>
				<integer>1</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>DBDA45EE-A778-4A3D-A63E-90C69D55966C</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>1</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>转换结果</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>329DEB03-BA9C-4D30-9D27-B38F83DC6E47</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>9DBFF92E-8494-44BA-8A01-06DEEC4322B4</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>329DEB03-BA9C-4D30-9D27-B38F83DC6E47</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>9DBFF92E-8494-44BA-8A01-06DEEC4322B4</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>DBDA45EE-A778-4A3D-A63E-90C69D55966C</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
